<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.ChatInfoDao">
    <select id="getAllChatInfo" resultType="entity.ChatInfo">
        SELECT * FROM chat_info
    </select>
    <select id="getChatInfoById" parameterType="int" resultType="entity.ChatInfo">
        SELECT * FROM chat_info WHERE id = #{id}
    </select>
    <insert id="insertChatInfo" parameterType="entity.ChatInfo">
        INSERT INTO chat_info (chat_user_id, user_id, text, time)
        VALUES (#{chatUserId}, #{userId}, #{text}, #{time})
    </insert>
    <update id="updateChatInfo" parameterType="entity.ChatInfo">
        UPDATE chat_info
        SET chat_user_id = #{chatUserId},
            user_id = #{userId},
            text = #{text},
            time = #{time}
        WHERE id = #{id}
    </update>
    <delete id="deleteChatInfo" parameterType="int">
        DELETE FROM chat_info WHERE id = #{id}
    </delete>
</mapper>